@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary: 137 181 210;
		--secondary: 17 31 40;

		--passive: 71 70 72;
		--panel: 252 254 255;
		--content: 231 238 242;
		--body: 219 232 240;
		--danger: 182 9 2;
		--warn: 240 160 13;

		--like: 182 9 2;
		--actionOne: 74 143 255;
		--actionTwo: 196 39 92;
		--actionThree: 148 191 82;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	input:focus {
		@apply outline-none;
	}

	html,
	body {
		@apply bg-body font-gantari;
	}

	a {
		@apply text-primary;
	}

	main {
		@apply min-h-screen flex flex-col items-center;
	}

	main header {
		@apply w-full px-8 pt-8 flex;
	}

	main header .info {
		@apply flex-grow;
	}

	main header .logo {
		@apply font-bold font-figtree text-3xl;
	}

	main > .container {
		@apply my-3 rounded-md;
		/* bg-content */
	}

	main > .container > .root {
		@apply flex rounded gap-3 px-8 py-8 justify-center;
		/* @apply md:max-h-[calc(100vh-6rem)]; */
	}

	.nav {
		min-width: 6rem;
	}

	nav {
		/* height: 35vh; */
		min-height: 556px;
		max-height: 40vh;
		@apply w-24 bg-panel flex flex-col items-center gap-3 rounded-xl p-3 fixed;
	}

	.content {
		@apply flex flex-col flex-grow  overflow-auto no-scrollbar;
	}

	.footer-info {
		@apply flex justify-center p-3 gap-3;
	}

	/*NAV*/
	nav .item {
		@apply w-16 h-16 flex items-center justify-center rounded-xl p-3 text-primary;
		@apply hover:bg-primary hover:text-white;
	}

	nav .item.selected {
		@apply bg-primary text-white;
	}

	nav .seperator {
		@apply flex-grow;
	}

	/*SIDEBAR*/
	.sidebar {
		@apply w-2/6 h-full flex flex-col gap-3;
		min-width: 400px;
	}

	.sidebar > div {
		@apply bg-panel rounded-xl p-3;
	}

	.sidebar .search {
		@apply h-20 flex;
	}
	.sidebar .bar {
		@apply min-h-min flex-grow overflow-auto no-scrollbar;
		max-height: calc(100vh - 16rem);
	}

	.sidebar .bar .list {
		@apply flex flex-col gap-3;
	}

	.sidebar .bar .list.wrap {
		@apply flex-row flex-wrap;
	}

	/*SEARCH*/
	.sidebar .search input {
		@apply w-full indent-2;
	}

	/* Compose */
	.compose {
		@apply bg-panel rounded-xl;
	}

	/* FEED */
	.feed {
		@apply flex flex-col flex-grow gap-4;
	}

	.contentBlock {
		@apply bg-panel rounded-xl p-3 flex flex-row;
		box-shadow: 0px 3px 4px rgb(0 0 0 / 10%);
	}

	.contentBlock .col1 {
		@apply mr-3;
	}

	.contentBlock .col1 .avatar {
		@apply w-16 h-16;
	}

	.contentBlock .col2 {
		@apply flex flex-col flex-grow;
	}

	.contentBlock .col2 .usermeta {
		@apply flex flex-grow;
	}

	.contentBlock .col2 .usermeta .username {
		@apply flex-grow font-bold;
	}

	.contentBlock .col2 .usermeta .pk {
		@apply text-right max-w-xs text-ellipsis overflow-hidden;
	}

	.contentBlock .note {
		@apply break-all overflow-auto;
	}

	.contentBlock .actions {
		@apply h-8 mt-3 flex gap-3 justify-end;
	}

	.contentBlock .actions button,
	.contentBlock .actions .icon {
		@apply w-6 h-8 flex items-center;
	}

	.contentBlock textarea {
		@apply w-full h-12 focus:h-28 focus:outline-none focus:shadow-inner font-figtree indent-2;
	}

	/*Section*/
	.section {
		@apply mb-3;
	}

	.section-title {
		@apply my-3 font-bold text-xl flex gap-3;
	}

	.section-title button {
		@apply text-secondary;
	}

	.section-title button.passive {
		@apply text-passive/50 hover:text-primary;
	}

	/*Card*/
	.card {
		@apply rounded-xl overflow-hidden text-ellipsis p-3;
		box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
	}
	.card.notice {
		@apply flex flex-col gap-3 text-lg;
	}

	.card.user,
	.card.group {
		@apply flex;
	}

	.card.group .photo,
	.card.user .photo {
		@apply w-10 h-10 mr-3;
	}

	.card.group .body,
	.card.user .body {
		@apply flex-grow overflow-hidden;
	}
	.card.group .body .row1,
	.card.user .body .row1 {
		@apply flex flex-row;
	}

	.card.group .body .row1 div:first-child,
	.card.user .body .row1 div:first-child {
		@apply flex-grow font-bold;
	}

	.card.group .body .row2,
	.card.user .body .row2 {
		@apply overflow-hidden text-ellipsis;
	}

	.mid {
		min-width: 500px;
		@apply flex flex-col w-7/12 gap-3;
	}

	.card.mid > div {
		@apply m-3;
	}

	.card.server {
		@apply flex gap-2 items-center;
	}

	/*  */
	.list .server {
	}

	.list .server .icon {
		@apply w-6 h-6;
	}

	/* Common Stuff */
	.avatar,
	.photo {
		@apply rounded-full bg-body flex items-center justify-center overflow-hidden flex-shrink-0 relative;
	}

	.avatar .icon {
		@apply absolute right-1 bottom-1 w-4 h-4 overflow-hidden;
	}

	.pk {
		@apply font-light;
	}

	.line {
		@apply relative;
	}

	.line input {
		@apply w-full;
	}

	.line .hover-label {
		@apply absolute right-3 top-1/2 -translate-y-1/2 text-black/50;
	}

	/* Input Element */
	input.big {
		@apply h-12 bg-body indent-1;
	}

	button.primary,
	button.secondary,
	button.alternative {
		@apply w-full p-3 select-none;
	}

	button.quarter {
		@apply w-1/4;
	}

	button:disabled {
		@apply pointer-events-none brightness-75 text-black/50;
	}

	button.primary {
		@apply bg-primary;
	}

	button.secondary {
		@apply bg-secondary text-primary;
	}

	button.danger {
		@apply bg-danger;
	}

	button.warn {
		@apply bg-warn;
	}

	.slider {
		@apply w-14 h-12 flex shadow-inner bg-body hover:bg-content transition-all duration-300 cursor-pointer rounded-xl;
	}

	.slider.disabled {
		@apply pointer-events-none brightness-200;
	}

	.slider .knob {
		@apply w-2 m-2 bg-secondary rounded-full transition-all duration-300;
	}

	.slider.checked {
		@apply justify-end bg-secondary;
	}

	.slider.checked .knob {
		@apply bg-content;
	}

	/* Danger */
	.slider.danger {
		@apply bg-danger/20;
	}

	.slider.danger.checked {
		@apply bg-danger;
	}

	.slider.danger .knob {
		@apply bg-danger;
	}

	.slider.danger.checked .knob {
		@apply bg-white;
	}

	/* Warn */
	.slider.warn {
		@apply bg-warn/20;
	}
	.slider.warn.checked {
		@apply bg-warn;
	}

	.slider.warn .knob {
		@apply bg-warn;
	}

	.slider.warn.checked .knob {
		@apply bg-white;
	}
}

.server .servericon {
	@apply w-12 h-12;
}

.servericon.connected #leds {
	animation-name: running;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.servericon.disconnected #leds {
	display: none;
}

.servericon.disconnected #ul,
.servericon.disconnected #dl {
	display: none;
}

@keyframes running {
	0% {
		opacity: 1;
	}
	5% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	15% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	35% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}

	45% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}

	55% {
		opacity: 1;
	}

	60% {
		opacity: 0;
	}
	65% {
		opacity: 1;
	}

	70% {
		opacity: 0;
	}

	75% {
		opacity: 0;
	}
	80% {
		opacity: 1;
	}

	85% {
		opacity: 1;
	}

	90% {
		opacity: 0;
	}
	95% {
		opacity: 1;
	}
	100% {
		fill: lightgreen;
	}
}
